.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #fda859;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #e03030;
  font-size: 100px;
  color: #c55454;
}

p {
  font-size: 40px;
  color: #c55454;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  text-align: center;
}
footer input{
 width: 500px;
 height: 150px; 
 background-color: brown;
 font-size: 32px;
 color: rgb(255, 253, 240);
 font-family: 'Indie Flower', cursive;
}